@model CricketPlayers.Data.Entities.Player

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayingRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayingRole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldingPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldingPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BattingStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BattingStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BowlingStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BowlingStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CricInfoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CricInfoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
